* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   

.button-add {
    background-color: #45a049;
    padding: 10px 20px;
    width: fit-content;
    border-radius: 16px;

    color: white;
    font-weight: 700;
    margin: auto;

    &:hover {
        background-color: #4CAF50;
    }
}


.list-Product {
    border: 1px solid red;
    min-height: 100vh !important;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.item {
    display: flex;
    justify-content: space-between;
    border: 1px solid blue;
    background-color: gainsboro;
    padding: 20px 10px;

    &:hover {
        background-color: ghostwhite;
    }
}

.left {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex-basis: 60%;
    border: 1px solid
}



.product {
    margin: 5px;    
    color: #508AA8;
}
.menu-Product {
    /* overflow: hidden; */
}
.list-Product:hover {
    cursor: pointer;
}
.product:hover {
    /* transition: 0.25s; */
    color: #C2CFB2;
}
.list-Product-img {
    height: 300px;
    width: 250px;
    object-fit: cover   ;
    transition: filter 0.3s ease;
}
.list-Product-img:hover {
    transform: scale(1.1);
    transition: all 0.4s ease 0s;
    filter: blur(1px);
    
}

/* Modal styles */
.modal {
    /* display: none;  */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgb(0,0,0);     */
    background-color: rgba(199, 219, 221, 0.8);
    padding-top: 40px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.closeBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
label {
    display: block;
    margin: 15px 0 5px;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
